<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head-links') %>
  <link rel="stylesheet" href="/css/globals.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/productDetail.css" />
</head>

<body>
  <%- include('./partials/header') %>
  <%- include('./partials/menu') %>
  
  <section class="container-fluid">
    <div class="row">
      <div id="cajaImgPrd" class="col-sm-12 col-md-4">
        <img src="/images/multer/<%= producto.imagen %>" alt="<%= producto.nombre %>" />
      </div>
      
      <div id="detalle" class="col-sm-12 col-md-4">
        <h3><%= producto.nombre %></h3>
        <h5><%= 'Por ahora: marca' %></h5>
        <h5><%= producto.categoria %></h5>
        <h5><%= producto.subcategoria %></h5>
        <h6>Código: <%= producto.codigo %></h6>
        <h6>$ <%= producto.precio %></h6>

        <div class="carrito">
          <h2>Añadir a carrito</h2>
          <form action="/carrito" method="post">
            <div class="control">
              <label for="cantidad">Cantidad:</label>
              <input type="number" name="productoId" value="<%= producto.id %>" hidden="hidden">
              <input type="number" id="cantidad" name="cantidad" class="form-control" value="1" min="1" max="10">
            </div>
            <button type="submit" class="btn-carrito"><i class="fas fa-cart-arrow-down" id="cartBtn"></i></button>
          </form>
        </div>
      </div>
      
      <div id="descripcion" class="col-sm-12 col-md-4">
        <h4>Descripción</h4>
        <p><%= producto.descripcion %></p>
      </div>
      
      <div id="productosRelacionados" class="col-12">
        <h4>Productos Relacionados</h4>
      </div>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div>
              <img src="/images/electro/ps4-joystick-black.png" alt="Joytick PS4 Black" class="imgPrdRelacionado" />
            </div>
            <span>Producto Relacionado</span>
          </div>
          <div class="col-sm-12 col-md-3">
            <div>
              <img src="/images/electro/wd-elements.jpg" alt="Camara PS4" class="imgPrdRelacionado" />
            </div>
            <span>Producto Relacionado</span>
          </div>
          <div class="col-sm-12 col-md-3">
            <div>
              <img src="/images/electro/king-64gb-data-travel.jpg" alt="Data Travel 64gb" class="imgPrdRelacionado" />
            </div>
            <span>Producto Relacionado</span>
          </div>
          <div class="col-sm-12 col-md-3">
            <div>
              <img src="/images/electro/pendrive-leatherface.jpg" alt="Pendrive Leatherface"
              class="imgPrdRelacionado" />
            </div>
            <span>Producto Relacionado</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <%- include('./partials/footer') %>
  
  <script src="/js/swiper.min.js"></script>
  <script>
    const mySwiper = new Swiper(".swiper-container", {
      loop: true,
      loopedSlides: 4,
      effect: window.innerWidth > 992 ? "fade" : "slide",
      autoplay: {
        delay: 4000
      },
      slidesPerView: 1
    });
  </script>
  <script src="/js/menu.js"></script>
  <script src="/js/addCart.js"></script>
</body>

</html>