<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head-links') %>
  <link rel="stylesheet" href="/css/globals.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/productDetail.css" />
  <script src='/js/sweetalert2.all.min.js'></script>
</head>

<body>
  <%- include('./partials/header') %>
  <%- include('./partials/menu') %>
  
  <section class="container-fluid">
    <div class="row">
      <div id="cajaImgPrd" class="col-sm-12 col-md-4">
        <img class="producto-imagen" src="/images/multer/<%= producto.imagen %>" alt="<%= producto.nombre %>" />
      </div>
      
      <div id="detalle" class="col-sm-12 col-md-4">
        <h3><%= producto.nombre %></h3>
        <h5><%= 'Por ahora: marca' %></h5>
        <h5><%= producto.categoria %></h5>
        <h5><%= producto.subcategoria %></h5>
        <h6>Código: <%= producto.codigo %></h6>
        <h6>$ <%= producto.precio %></h6>

        <div class="carrito">
          <h2>Añadir a carrito</h2>
          <form action="/carrito" method="post" id="formulario">
            <div class="control">
              <label for="cantidad">Cantidad:</label>
              <input type="number" name="productoId" value="<%= producto.id %>" hidden="hidden">
              <input type="number" id="cantidad" name="cantidad" class="form-control" value="1" min="1" max="10">
            </div>
            <button type="submit" class="btn-carrito"><i class="fas fa-cart-arrow-down" id="cartBtn"></i></button>
          </form>
        </div>
      </div>
      
      <div id="descripcion" class="col-sm-12 col-md-4">
        <h4>Descripción</h4>
        <p><%= producto.descripcion %></p>
      </div>
    </div>
  </section>
  
  <%- include('./partials/footer') %>
  
  <script src="/js/swiper.min.js"></script>
  <script>
    const form = document.getElementById('formulario');
    let addProduct;
    if (typeof userId !== 'undefined') {
      addProduct = document.querySelector('#cartBtn').addEventListener('click', e => {
        e.preventDefault();
        Swal.fire({
          title: '¿Querés añadir el producto?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Confirmar',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.value) {
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'Producto añadido',
              showConfirmButton: false,
              timer: 1500
            });
            setTimeout(() => {
              form.submit();
            }, 1600);
          }
        });
      })
    }

    const mySwiper = new Swiper(".swiper-container", {
      loop: true,
      loopedSlides: 4,
      effect: window.innerWidth > 992 ? "fade" : "slide",
      autoplay: {
        delay: 4000
      },
      slidesPerView: 1
    });
  </script>
  <script src="/js/menu.js"></script>
  <script src="/js/addCart.js"></script>
</body>

</html>
